
.vs/MarketPlace/v16/.suo
MarketPlace/bin/Debug/netcoreapp3.1/MarketPlace.deps.json
MarketPlace/bin/Debug/netcoreapp3.1/MarketPlace.dll
MarketPlace/bin/Debug/netcoreapp3.1/MarketPlace.exe
MarketPlace/bin/Debug/netcoreapp3.1/MarketPlace.pdb
MarketPlace/bin/Debug/netcoreapp3.1/MarketPlace.runtimeconfig.dev.json
MarketPlace/bin/Debug/netcoreapp3.1/MarketPlace.runtimeconfig.json
MarketPlace/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.AssemblyInfoInputs.cache
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.csproj.CoreCompileInputs.cache
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.csproj.FileListAbsolute.txt
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.csprojAssemblyReference.cache
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.dll
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.exe
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.genruntimeconfig.cache
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.pdb
MarketPlace/obj/MarketPlace.csproj.nuget.dgspec.json
MarketPlace/obj/MarketPlace.csproj.nuget.g.props
MarketPlace/obj/MarketPlace.csproj.nuget.g.targets
MarketPlace/obj/project.assets.json
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.AssemblyInfo.cs
MarketPlace/obj/Debug/netcoreapp3.1/MarketPlace.assets.cache
MarketPlace/obj/project.nuget.cache
